<nav *ngIf="candidate" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#about">
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpeg" alt="">
    </span>
    <span class="d-lg-none">
      <img height=40 width=40 class="img-fluid img-profile rounded-circle" src="assets/img/profile.jpeg" alt="">
    </span>
  </a>
  <button (click)="toggle()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [class.d-block]="toggled" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="close()" class="nav-link js-scroll-trigger" [class.active]="activeTab === 'about'" href="#about">About</a>
      </li>
      <li *ngIf="candidate.experience" class="nav-item">
        <a (click)="close()" class="nav-link js-scroll-trigger" [class.active]="activeTab === 'experience'" href="#experience">Experience</a>
      </li>
      <li *ngIf="candidate.education" class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li *ngIf="candidate.education" class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li *ngIf="candidate.interests" class="nav-item">
        <a (click)="close()" class="nav-link js-scroll-trigger" [class.active]="activeTab === 'interests'" href="#interests">Interests</a>
      </li>
      <li *ngIf="candidate.education" class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
      </li>
    </ul>
  </div>
</nav>